@import "tailwindcss";

:root {
  --font-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --color-primary-navy: #0F172A;
  --color-secondary-white: #F8FAFC;
  --color-accent-cyan: #06B6D4;
  --color-accent-cyan-hover: #0891B2;
  --color-text-muted: #94A3B8;
  --color-border-slate: #334155;
  --color-navy-light: #1E293B;
  --color-navy-dark: #020617;
}
