@import "tailwindcss";
@source "../../../packages/ui/src";
@source "../../..";

:root {
  --font-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --color-obsidian: #0A0F1D;
  --color-navy-dark: #020617;
  --color-navy-light: #0F172A;
  --color-electric-blue: #2563EB;
  --color-canvas-slate: #F8FAFC;
  --color-text-muted: #94A3B8;
  --color-border-slate: #1E293B;
}
